@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  width: 100%;
  font-size: 100%;
  scroll-behavior: auto !important;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 98%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 96%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 94%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 90%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.color1 {
  color: #242b2c;
}

.color1:hover {
  color: #242b2c;
}

.color2 {
  color: #055052;
}

.color3 {
  color: #949898;
}

.themeBtn {
  background-color: #055052;
}

.header_container {
  padding: 1.3rem 0rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.header_container .inp_container input {
  padding-left: 1.6rem;
  border: 1px solid #055052;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 220px;
}

.header_container .inp_container input:focus {
  outline: none;
}

.header_container .inp_container input::-webkit-input-placeholder {
  color: #a3a3a3;
}

.header_container .inp_container input:-ms-input-placeholder {
  color: #a3a3a3;
}

.header_container .inp_container input::-ms-input-placeholder {
  color: #a3a3a3;
}

.header_container .inp_container input::placeholder {
  color: #a3a3a3;
}

.header_container .inp_container .search_icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2%;
}

.header_container .inp_container button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

body {
  height: 200vh;
}

.header_container.sticky {
  z-index: 99;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.under_header_cont {
  border-top: 1px solid #bec4c4;
  border-bottom: 1px solid #bec4c4;
}

.under_header_cont.sticky {
  padding-top: 73px;
}

.hero_container .hero_img {
  background: url(../assets/hero.svg);
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 327.3px;
}

.hero_container .hero_img .inner_text {
  margin-left: 4rem;
}

.hero_container .hero_img h1 {
  line-height: 50px;
}

.hero_container .hero_img button {
  background-color: #f3f2c9;
}

.product_list_container .head {
  position: relative;
}

.product_list_container .head::before {
  content: url("../assets/underline.svg");
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 22px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product_list_container .product_list {
  --bs-gutter-x: 1.2rem;
  --bs-gutter-y: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.product_list_container .product_list > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.product_list_container .product_list .product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20%;
}

.product_list_container .product_list .product .card_container img {
  width: 100%;
  max-height: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_list_container .card_container {
  background-color: #f8f8f8;
  border-radius: 8px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.product_list_container .card_container .img_container {
  position: relative;
}

.product_list_container .card_container .img_container img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product_list_container .card_container .img_container .heart_cont {
  position: absolute;
  right: 10px;
  top: 7px;
}

.product_list_container .card_container .card_body {
  padding: 12px;
}

.product_list_container .card_container .card_body .name {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product_list_container .card_container .card_body button {
  border: 1px solid #055052;
  padding: 6px;
  border-radius: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #055052;
}

.product_list_container .card_container:hover {
  background: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 1px 1px 15px #d3d3d3;
          box-shadow: 1px 1px 15px #d3d3d3;
}

.product_list_container .card_container:hover button {
  background-color: #055052;
  color: #fff;
}

.filter_container {
  background-color: #f9f9f9;
}

.filter_container .filter_list_container {
  --bs-gutter-x: 1.2rem;
  --bs-gutter-y: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.filter_container .filter_list_container > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.filter_container .filter_list_container .cont {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.filter_container .filter_list_container .cont li {
  color: #242b2c;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.filter_container .filter_list_container .cont li:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #055052;
  font-weight: bold;
}

.footer_container {
  background: url(../assets/footer.svg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 0rem;
  background-size: cover;
}

.footer_container .share_cont {
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.2rem 0rem;
  max-width: 280px;
  border-radius: 20px;
}

.footer_container .share_cont .share_icon {
  margin: 0rem 0.2rem;
  padding: 0.4rem;
  border-radius: 6px;
  font-size: 1.8rem;
  color: #ffffff50;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.footer_container .share_cont .share_icon:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #fff;
  color: #055052;
}
/*# sourceMappingURL=style.css.map */